.mainContainerBook {
    overflow-y: hidden;
    width: 100vh;
  }
  
  .bodyBook {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }