
.bodyUser {
    background-image: url("/public/assets/travel.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .body2 {
    width: 100%;
  }