.mainContainerHome {
  overflow-y: hidden;
  width: 100vh;
}

.bodyHome {
  background-image: url("/public/assets/lagos.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.titleHome {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color:#ffffff;
  font-size: 12vw;
  font-family: "Raleway", sans-serif; /* Cambiada a la fuente Raleway */
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

@-webkit-keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
  

/*.logo {
  width: 30%;
}

.contenedor {
  width: 100%;
  min-height: calc(100vh - 50px); 
  display: flex;
  flex-direction: column;
}

.mainContainer {
  overflow-y: hidden;
  height: 80vh;
}


.bodyHome{
  background-image: url("/public/assets/portada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.no-pad {
  padding: 0 !important;
}

.centrado-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.titulo {
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.grupo {
  border: black 2px;
}

.buscar {
  background-color: #3a5265;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
  font-weight: 600;
  color: white;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  height: 50px;
  width: 100%;
  white-space: nowrap;
}

.texto {
  border-radius: 5px;
  border: 1px solid;
  height: 50px;
  width: 100%;
  border-color: #ffffff;
  background-color: transparent;
}

.redondo {
  border-radius: 100px;
}

.pad {
  padding-top: 3%;
}
*/